<!-- 
BSD 3-Clause License
Copyright (c) 2021, Institut de Robotica i Informatica Industrial (CSIC-UPC)
All rights reserved. 
-->

<launch>
  <arg name="arm_name" default="flying_arm_3" />

  <arg name="arm_controllers" value="joint_state_controller joint1_effort_controller joint2_effort_controller joint3_effort_controller joint4_effort_controller joint5_effort_controller" if="$(eval arg('arm_name')=='flying_arm_5')" />
  <arg name="arm_controllers" value="joint_state_controller joint1_effort_controller joint2_effort_controller joint3_effort_controller" if="$(eval arg('arm_name')=='flying_arm_3')" />

  <rosparam file="$(find rotors_gazebo)/resource/arms/$(arg arm_name).yaml" command="load" />
    <node
    name="controller_spawner"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"
    args="$(arg arm_controllers)"/>

</launch>