<launch>
  <arg name="mav_name" default="hexacopter370" />
  <arg name="world_name" default="basic" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="debug" default="false" />
  <arg name="gazebo_gui" default="true" />
  <arg name="paused" default="false" />
  <!-- The following line causes gzmsg and gzerr messages to be printed to the console
      (even when Gazebo is started through roslaunch) -->
  <arg name="verbose" default="false" />
  
  <arg name="arm_enable" default="false" />
  <arg name="arm_name" default="flying_arm_3" />

  <arg name="disturbance_enable" default="false" />
  <arg name="disturbance_start" default="3" />
  <arg name="disturbance_duration" default="4" />
  <arg name="disturbance_force" default="6" />
  <arg name="disturbance_direction" default="1 1 0" />

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models" />
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gazebo_gui)" />
    <arg name="verbose" value="$(arg verbose)" />
  </include>


  <include file="$(find multicopter_mpc_simulator)/launch/spawn_aerial_robot.launch">
    <arg name="mav_name" value="$(arg mav_name)" />
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
    <arg name="arm_enable" value="$(arg arm_enable)" />
    <arg name="arm_name" value="$(arg arm_name)" />
    <arg name="disturbance_enable" value="$(arg disturbance_enable)" />
    <arg name="disturbance_start" value="$(arg disturbance_start)" />
    <arg name="disturbance_duration" value="$(arg disturbance_duration)" />
    <arg name="disturbance_force" value="$(arg disturbance_force)" />
    <arg name="disturbance_direction" value="$(arg disturbance_direction)" />
  </include>
</launch>
